.side-link {
    display: block;
    margin: 5%;
    text-decoration: none;
    border-radius: 10px;
    padding: 3%;
}
.side-main {
    position: fixed;
    padding-top: 10%;
    width: 20%;
    min-width: 150px;
    max-width: 400px;
    /* background-color: var(--color4); */
    height: 90vh;    
}