.footer {
  background-color: var(--color3);
  color: var(--color2);
  padding: 20px;
  text-align: center;  
  margin-top: 50px;
  margin-left: 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-link {
  color: var(--color2);
  margin: 0 10px;
  text-decoration: none;
  font-weight: 700;
}

.footer-link:hover {
  color: var(--color1);
}

.footer-copy {
  font-size: 0.9rem;
}
